.myBtn {
    background-color: #FFFFFF;
    border: 1px solid white;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.myBtn:hover {
    background-color: #d0a3a8;
    color: white;
}